.shop
  position: relative
  overflow: hidden
  margin: 15px 0

  .shop-body
    position: absolute
    top: 0
    width: 75%
    padding: 30px
    z-index: 10

  .shop-body h3
    color: #FFF

  .shop-body .cta-btn
    color: #FFF
    text-transform: uppercase

.shop:before
  content: ""
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: 60%
  background: rgba(0, 0, 0, 0.4)
  opacity: 0.9
  z-index: 10
  -webkit-transform: skewX(-45deg)
  -ms-transform: skewX(-45deg)
  transform: skewX(-45deg)

.shop:after
  content: ""
  position: absolute
  top: 0
  bottom: 0
  left: 1px
  width: 100%
  background: rgba(0, 0, 0, 0.4)
  opacity: 0.9
  -webkit-transform: skewX(-45deg) translateX(-100%)
  -ms-transform: skewX(-45deg) translateX(-100%)
  transform: skewX(-45deg) translateX(-100%)

.shop:hover .shop-img > img
  -webkit-transform: scale(1.1)
  -ms-transform: scale(1.1)
  transform: scale(1.1)

.explore-card-img-cont
  position: relative

.explore-card-img-cont:after
  content: ""
  display: block
  padding-bottom: 80%

.explore-card-img
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  width: 100%
  height: 100%
  object-fit: cover
  object-position: center
