.cart-item-name {
    max-width: 450px !important;
}

.checkout-btn, .checkout-btn:hover {
    color: white !important;
}

@media screen and (max-width: 600px) {
    .checkout-btn {
        width: 100%;
        margin: 20px 0;
    }
}