.cart-item-name {
    max-width: 450px !important;
}

.checkout-btn {
    color: white !important;
    background-color: #ef233c;
}

.checkout-btn:hover {
    color: white !important;
    background-color: #ff233d;
}

@media screen and (max-width: 600px) {
    .checkout-btn {
        width: 100%;
        margin: 20px 0;
    }
}

.qty-span {
    padding: 5px !important;
}