input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #D10024 !important;
    background-color: #D10024 !important;
}

.block-submit p {
    color: transparent;
}

.block-submit {
    position: absolute;
    top: 15px;
    border-radius: .25rem;
    z-index: 10;
    width: 100%;
    height: 40px;
    background-color: transparent;
}

.block-submit:hover {
    background-color: rgba(223, 239, 255, 0.83);
}

.block-submit:hover > .block-submit p, .block-submit p:hover {
    color: black;
}