.bg-blue-custom {
    background-color: #1E1F29;
}

.bg-dark-custom {
    background-color: #15161D;
}

.border-light-custom {
    border-color: #e6e7e8 !important
}

.nav-inline {
    display: inline-block !important;
}

.logo-img {
    width: 200px;
    height: 50px;
}

.d-initial {
    display: initial;
}

h1, h2, h3, h4, h5, h6 {
    color: #2B2D42;
    font-weight: 700;
    margin: 0 0 10px;
}

a {
    color: white;
}

a:hover {
    color: #D10024 !important;
    text-decoration: none;
    transition: 0.3s;
}

.bg-red {
    background-color: #D10024;
}

body {
    overflow-x: hidden !important;
}

input, button, select, svg {
    outline: none !important;
}

.preloading-home {
    position: absolute;
    margin-top: 50vh;
    margin-left: 50vw;
    left: -20px !important;
    top: -45px !important;
}

.preloading {
    position: absolute;
    margin-top: 50%;
    margin-left: 50%;
    left: -20px !important;
    top: -45px !important;
}
