body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden !important;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px !important;
}

.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}

.bg-blue-custom {
    background-color: #fff;
}

.bg-red-custom {
    background-color: #E23056;
}

.bg-red {
    background-color: #ff8c00;
}

.MuiCircularProgress-colorPrimary {
    color: #ff8c00 !important;
}

.border-orange {
    border-color: #ff8c00 !important
}

/*.bg-red {*/
/*    background-color: #D10024;*/
/*}*/

/*.bg-blue-custom {*/
/*    background-color: #1E1F29;*/
/*}*/

.bg-dark-custom {
    background-color: #fff;
}

/*.bg-dark-custom {*/
/*    background-color: #15161D;*/
/*}*/

.bg-grey {
    background: linear-gradient(to bottom, #e3e4ze6, #bdbfc2);
}

.bg-light-custom {
    background-color: #eaebec;
}

.spacing {
    letter-spacing: 10px;
}

.MuiCircularProgress-colorSecondary {
    color: #D10024 !important;
}

.nav-inline {
    display: inline-block !important;
}

.d-initial {
    display: initial;
}

h1, h2, h3, h4, h5, h6 {
    color: #2B2D42;
    font-weight: 700;
    margin: 0 0 10px;
}

.title {
    font-size: 24px;
    color: #2B2D42;
    font-weight: 700;
}

.item-name {
    font-size: 1em;
    font-weight: 700;
    word-break: break-word;
}

.max-width-icon {
    max-width: 80px !important;
}

@media screen and (min-width: 640px) {
    .item-name {
        font-size: 1.2rem;
    }
}

.small-font {
    font-size: 0.9rem;
    /*font-weight: 700;*/
    word-break: break-word;
}

@media screen and (min-width: 640px) {
    .small-font {
        font-size: 1.3rem;
    }
}

a {
    color: white;
}

a:hover {
    color: #D10024 !important;
    text-decoration: none;
    transition: 0.3s;
}

input, button, select, svg {
    outline: none !important;
}

.preloading-home {
    position: absolute;
    margin-top: 50vh;
    margin-left: 50vw;
    left: -20px !important;
    top: -45px !important;
}

.preloading {
    position: absolute;
    margin-top: 50%;
    margin-left: 50%;
    left: -20px !important;
    top: -45px !important;
}

.border-light-custom {
    border-color: #e6e7e8 !important
}

.paragraphs p, .paragraphs h4 {
    max-width: 600px;
    margin: 1rem 0;
}

.checkout-btn {
    color: white !important;
}

.checkout-btn:hover {
    color: white !important;
    background-color: rgba(209, 0, 36, 0.91);
}
