body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden !important;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px !important;
}

.font-24 {
    font-size: 24px;
}

.bg-blue-custom {
    background-color: #1E1F29;
}

.bg-dark-custom {
    background-color: #15161D;
}

.bg-grey {
    background: linear-gradient(to bottom, #e3e4e6, #bdbfc2);
}

.MuiCircularProgress-colorSecondary {
    color: #D10024 !important;
}

.nav-inline {
    display: inline-block !important;
}

.logo-img {
    width: 200px;
    height: 50px;
}

.d-initial {
    display: initial;
}

h1, h2, h3, h4, h5, h6 {
    color: #2B2D42;
    font-weight: 700;
    margin: 0 0 10px;
}

.title {
    font-size: 24px;
    color: #2B2D42;
    font-weight: 700;
}

a {
    color: white;
}

a:hover {
    color: #D10024 !important;
    text-decoration: none;
    transition: 0.3s;
}

.bg-red {
    background-color: #D10024;
}

input, button, select, svg {
    outline: none !important;
}

.preloading-home {
    position: absolute;
    margin-top: 50vh;
    margin-left: 50vw;
    left: -20px !important;
    top: -45px !important;
}

.preloading {
    position: absolute;
    margin-top: 50%;
    margin-left: 50%;
    left: -20px !important;
    top: -45px !important;
}

.breadcrumb {
    border-bottom: 1px solid #E4E7ED;
    border-top: 2px solid #E4E7ED;
}

.breadcrumb-tree {
    list-style: none;
    display: inline-block;
}

.breadcrumb-item {
    display: inline-block;
}

.border-light-custom {
    border-color: #c2c3c4
}
