.preloading-store {
    position: relative;
    width: 100%;
}

.preloading-store div {
    margin: 80px auto;
    left: -20px !important;
    top: -45px !important;
}

.preloader-cont {
    height: 300px;
}