.logout-span
  color: white

.logout-span:hover
  color: #D10024

.logo-img
  width: 130px

.search-btn
  border-radius: 0 10px 10px 0 !important

.search-input
  width: 85%
  border-top-left-radius: 10px
  border-bottom-left-radius: 10px
  border: 1px solid #d4c6c0
  height: calc(1.5em + .75rem + 2px)
  padding: .375rem 1.75rem .375rem .75rem
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  color: #495057
  background-color: #fff
  vertical-align: middle
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

.search-cont
//border-bottom: #F19C1B 3px solid
//border-bottom: #D10024 3px solid

.qty
  position: absolute
  right: -14px
  top: -10px
  width: 20px
  height: 20px
  line-height: 20px
  text-align: center
  border-radius: 50%
  font-size: 10px
  color: #FFF
  //background-color: #D10024
  //background-color: #E05C3F
  background-color: #ff8c00

.sidenav
  height: 100%
  width: 0
  position: fixed
  z-index: 1030
  top: 0
  left: 0
  //background-color: #15161D
  background-color: #fff
  overflow-x: hidden
  padding-top: 20px
  transition: 0.5s

  a
    padding: 8px 8px 8px 32px
    text-decoration: none
    display: block
    transition: 0.3s

  .closebtn
    font-size: 36px

  ul li
    margin: 15px 0

#modal
  display: none
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 1025
  background-color: rgba(0, 0, 0, 0.4)

.closebtn .svg-inline--fa.fa-w-14
  width: 25px
  height: 25px

.navbar-link
  padding-left: 50px !important

@media screen and (min-width: 575px)
  .search-input-cont
    width: auto !important

@media screen and (min-width: 340px)
  .logo-img
    width: 140px

@media screen and (min-width: 360px)
  .logo-img
    width: 160px

@media screen and (min-width: 500px)
  .logo-img
    width: 190px
