.add-btn
  width: 40px
  height: 40px
  border-radius: 50%

.shadow-sm-custom:hover
  transition: 0.5s
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2)

.item-cont:hover .item-btns
  visibility: visible !important

.add-to-wishlist
  position: absolute
  top: 0
  right: 0
  width: 35px
  height: 35px
  border-radius: 50%
  transition: 0.1s

.single-item-img
  width: 100px